{% extends "kpay/base.html" %}

{% block title %}Callback{% endblock %}

{% block content %}
    <div class="card rounded-0 shadow-sm">
        <div class="card-header d-none">
            <h4 class="mb-0">{{ gateway }}</h4>
        </div>
        <div class="card-body text-center">
            {% if payment_status.is_valid %}
                <h4 class="text-success">{{ payment_status.message }}</h4>
                <div class="mt-1">
                    Date Completed: {{ payment_status.date_completed }}
                </div>
            {% else %}
                <h4 class="text-warning">{{ payment_status.message }}</h4>
{#                <div class="">{{ payment_status.payment.description }}</div>#}
                <div class="">Please go back and start a new payment.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}