{% extends "kpay/base.html" %}


{% block content %}
<div class="row_ mt-5" >
    <div class="col-md-8 mx-auto">

        <div class="card rounded-0 border-top border-{% if res_type == 'success' %}success{% else %}danger{% endif %}">
            <div class="card-body text-center">
                <h5 class="">
                    {% if res_type == 'success' %}
                        Payment completed successfully
                    {% else %}
                        Payment Failed
                    {% endif %}
                </h5>
                <p>
                    {{ payment_status.payment.description }} <br />
                    {{ payment.currency }} {{ payment.total }}
                </p>
                {% if payment.message %}
                    <p class="text-{% if res_type == 'success' %}success{% else %}danger{% endif %}">{{ payment.message }}</p>
                {% endif %}
            </div>
            <div class="card-footer py-2 px-3">
                {% if res_type == 'success' %}
                    This page will automatically close in 5 seconds ...
                {% else %}
                    Please try again later
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}