{% extends "kpay/base.html" %}


{% block content %}
<form action="{{ form.action }}" method="{{ form.method }}">
    {% csrf_token %}

    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Proceed" />
            </td>
        </tr>
    </table>

</form>
{% endblock %}